*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  gap: 30px;
}

.search-form {
  display: flex;
  align-items: start;
  justify-content: space-between; 
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 360px;
  width: 399px;
  gap: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 30px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 456px;
  margin-bottom: 16px;
}

.result__video {
  object-fit:cover;
  width: 100%;
  height: 100%;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  width: 200px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  height: 21.6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
  font-weight: 700px;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
}

.content__video-card-title {
  font-weight: 700px;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  line-clamp: 3;
  overflow: hidden;
}

.search-form__checkbox-list {
  display: flex;
  width: 212px;
  height: 21.6px;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 5px;
}

.search-form__textfield {
  width: 240px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  color: #fff;
  appearance: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 21.6px;
  height: 21.6px;
  border: 1px solid #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.search-form__pseudo-checkbox::after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #fff;
  opacity: 0;
  position: absolute;
  left: 1px;
  top: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label-text {
  height: 22px;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 16px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
  font-weight: 600;
}

.more-button {
  width: 100%;
  height: 48px;
  font-weight: 500;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgb(217 217 217 / 40%);
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:active {
  background-color: rgb(217 217 217 / 40%);
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item {
  display: block;
  padding-left: 3px;
  padding-right: 3px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}